/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');

/* Reset de estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilos gerais do corpo da página */
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
}

/* Estilos do cabeçalho */
header {
    width: 100%;
    display: flex;
    padding: 15px 50px;
    background-color: #00ff88;
    background: linear-gradient(42deg, #00FF88 2%, #00a85a 10%, #2e263f 42%);
    justify-content: space-between;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

/* Estilos do logo */
.logo {
    position: relative;
    left: 110px;
}

/* Estilos da barra de navegação */
nav {
    display: flex;
    font-weight: bold;
    align-items: center;
    color: #202020;
}

/* Estilos dos itens de navegação */
.nav-itens {
    list-style: none;
    display: flex;
}

/* Estilos dos botões de cadastro e login */
.cadastro,
.login {
    padding: 5px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #202020;
    background-color: #00FF88;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
}

/* Estilos do campo de busca */
#busca {
    display: inline;
    margin-left: 15px;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    padding-right: 10px;
    background-color: #202020;
    color: white;
    border: none;
}

/* Estilos do texto de espaço reservado no campo de busca */
#busca::placeholder {
    color: #f0ffff94;
}

/* Estilos dos links de navegação */
a {
    color: white;
    text-decoration: none;
    transition: 0.6s ease-in-out;
    margin-left: 15px;
    font-size: 18px;
}

/* Estilos dos links de navegação ao passar o mouse sobre eles */
a:hover {
    color: #00FF88;
}

/* Estilos dos botões de cadastro e login ao passar o mouse sobre eles */
.cadastro:hover,
.login:hover {
    opacity: 1;
}

/* Estilos da imagem da lupa na barra de pesquisa */
.lupa-img {
    position: relative;
    top: 10px;
}

main{
    font-family: 'Roboto', sans-serif;
}

/* Estilos do container do banner */
#container {
    display: inline-block;
    position: relative;
}

/* Estilos do banner */
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: -4.5px;
}

.banner > .img-figure {
    opacity: 0.4;
    width: 100vw;
}

/* Estilos do texto no banner */
.texto {
    position: absolute;
    display: flex;
    top: 300px;
    text-shadow: 0.2em 0.1em 0.05em #333;
}

.texto > .conteudos {
    display: flex;
    flex-direction: row;
}

.h1-quemsomos{
    background-color: #3d2b63;
    width: 80%;
    height: 160%;
    border-radius: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -220px;
    right: -30px;
}

.diferenciais {
    position: relative;
    top: 210px;
    background-color: #3d2b63;
    width: 80%;
    height: 160%;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.nossa-missao {
    background-color: #3d2b63;
    width: 80%;
    height: 160%;
    border-radius: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -220px;
    right: 20px;
}

.diferenciais > ul {
    position: relative;
    top: 100px;
    left: 90px;
}

.h1-quemsomos > h1 {
    position: relative;
    top: 66px;
}


/* Estilos do rodapé */
footer {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    text-align: center;
    padding: 20px 50px;
    background: linear-gradient(42deg, #00FF88 2%, #00a85a 10%, #2e263f 42%);
    box-sizing: border-box;
    color: aliceblue;
}

footer>h2 {
    font-size: 20px;
}